<p id="notice"><%= notice %></p>

<div class="row page-header">
  <h2 class="text-center">
    <%= @answer.answer_groups.first.question.type_test.try(:title).html_safe %>
  </h2>
</div>

<p>
  <strong>Fecha:</strong>
  <%= @answer.date %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @answer.user.try(:name) %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @answer.patient.try(:name) %>
</p>

<ul class="list-group">
  <% @answer.answer_groups.sort.each do |ag| %>
    <li class="list-group-item">
      <span class="badge"><%= ag.option ? "SI" : "NO" %></span>
      <%="#{ag.question.order}.- #{ag.question.name}"%>
    </li>
  <% end %>
</ul>
<!-- <%= link_to 'Edit', edit_answer_path(@answer) %> | -->
<%= link_to 'Volver', answers_path %>
