<p id="notice"><%= notice %></p>

<h1>Listing Mchat Tests</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mchat_tests.each do |mchat_test| %>
      <tr>
        <td><%= mchat_test.order %></td>
        <td><%= mchat_test.question %></td>
        <td><%= link_to 'Show', mchat_test %></td>
        <td><%= link_to 'Edit', edit_mchat_test_path(mchat_test) %></td>
        <td><%= link_to 'Destroy', mchat_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mchat test', new_mchat_test_path %>
