<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @mchat_test.order %>
</p>

<p>
  <strong>Question:</strong>
  <%= @mchat_test.question %>
</p>

<%= link_to 'Edit', edit_mchat_test_path(@mchat_test) %> |
<%= link_to 'Back', mchat_tests_path %>
