<h2 class="text-center">CUESTIONARIO DEL DESARROLLO COMUNICATIVO Y SOCIAL EN LA INFANCIA <small>(M-CHAT/ES)</small></h2>
<div class="lead text-center">
  <p>
    Por favor responda estas preguntas acerca de su hijo (a) teniendo en cuenta el comportamiento diario de el o ella.
  </p>
  <p>
    Si usted ha notado algún comportamiento descrito en este formulario sólo un par de veces, pero no es algo que hace diariamente, entonces responda la opción “no”.
  </p>
  <p>
    Por favor responda <strong>“si”</strong> o <strong>“no”</strong> a cada pregunta y no deje preguntas sin responder.
  </p>
  <p>
    Muchas gracias.
  </p>
    <!-- Seleccione, sí o no, en la respuesta que le parece que refleja mejor <strong>cómo su hijo o hija actúa NORMALMENTE</strong>. Si el comportamiento no es el habitual (por ejemplo, usted solamente se lo ha visto hacer una o dos veces) conteste que el niño o niña NO lo hace. Por favor, conteste a todas las preguntas. -->
</div>
<form >
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Pregunta</th>
        <th colspan="2">Respuesta</th>
      </tr>
    </thead>
    <tbody>
      <% @mchat_tests.sort.each do |question| %>
      <tr>
        <th><%= question.order %></th>
        <td><%= question.question %></td>
        <td>
          <label class="radio">
            <input type="radio" name=<%= question.order %> value="true">
            <strong>SI</strong>
          </label>
          <!-- <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" name=<%= question.order %> value="true">
            </span>
            <label class="form-control">SI</label>
          </div> -->
        </td>
        <td>
          <label class="radio">
            <input type="radio" name=<%= question.order %> value="false">
            <strong>NO</strong>
          </label>
          <!-- <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" name=<%= question.order %> value="false">
            </span>
            <label class="form-control">NO</label>
          </div> -->
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <button type="submit" name="button">enviar</button>
</form>
<!-- <p class="text-left">
  © 1999 Diana Robins, Deborah Fein, & Marianne Barton
 Translated by Joaquin Fuentes, 2006
</p> -->
