<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @patient.rut %>
</p>

<p>
  <strong>Dv:</strong>
  <%= @patient.dv %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @patient.sex %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
